results*/mutation_counts/aggregated.csv filter=lfs diff=lfs merge=lfs -text
results*/expected_vs_actual_mut_counts/expected_vs_actual_mut_counts.csv filter=lfs diff=lfs merge=lfs -text
results*/aa_fitness/aamut_fitness_by_clade.csv filter=lfs diff=lfs merge=lfs -text
results*/aa_fitness/aamut_fitness_by_subset.csv filter=lfs diff=lfs merge=lfs -text
results*/nt_fitness/ntmut_fitness_by_clade.csv filter=lfs diff=lfs merge=lfs -text
results*/nt_fitness/ntmut_fitness_by_subset.csv filter=lfs diff=lfs merge=lfs -text
results*/aa_fitness/aa_fitness.json.gz filter=lfs diff=lfs merge=lfs -text